{% extends 'base.html' %}

{% block active %}
{% endblock %}

{% block body %}

<main role="main" class="page controller">
    <p class="lead">Deep Team Logo Maker combines your logo design preferences with Artificial Intelligence to
        help you create a custom logo you'll love. All it takes is a few clicks and five minutes.</p>

    <div class="container">
        <div class="form-group mx-sm-3 mb-2">
            <label for="companyName" class="sr-only">Enter your company name</label>
            <input type="text" class="form-control" id="companyName" placeholder="Enter your company name">
        </div>
        <br>
        <a href="/create_logo" role="button" class="btn btn-light btn-lg">Create a logo</a>
    </div>

</main>

{% endblock %}