{% extends 'base.html' %}

{% block active %}
<!--<a class="nav-link active" href="/">Home</a>-->
{% endblock %}

{% block body %}

<div class="container">
    <div class="css-o2emwa">
        <h1 class="css-a8djh9"></h1>
        <h2 class="css-g0ws1t">What's your logo for?</h2>
        <p class="css-lg8d1q">Knowing your industry will help us pick symbols, colors, and more.</p>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="companyName" class="sr-only">Enter your company name</label>
        <input type="text" class="form-control" id="companyName" placeholder="Enter your company name">
    </div>

    <a href="/back" role="button" class="btn btn-light btn-lg">Back</a>
    <a href="/next" role="button" class="btn btn-light btn-lg">Next</a>

</div>

{% endblock %}